/* Main colors of the site */

/* цвет основного текста #212121; */
/* вторичный цвет текста #757575; */
/* акцент цвет(он же брендовый) #2196F3;  */
/* белый (фон,текст) #ffffff; */
/* вторичный цвет фона #F5F4FA; */

:root {
  --brand-color-accent: #2196f3;
  --brand-color-header: #000;
  --brand-color-footer: #fff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --title-text-color: #212121;
  --primary-text-color: #757575;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;
  /* outline: 2px solid tomato; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: tomato; */
}

/* NAVIGATION */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--brand-color-header);
  text-decoration: none;
}

.logo-first-phrase {
  color: var(--brand-color-accent);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--title-text-color);

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--brand-color-accent);
}

.link-current {
  position: relative;

  color: var(--brand-color-accent);
}

.link-current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--brand-color-accent);
  border-radius: 2px;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.header-position {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* обводка */
/* .site-nav .item {
  outline: 1px solid tomato;
} */

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* CONTACT-header */
.site-nav-contact {
  display: flex;
  align-items: center;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-contact .item:not(:last-child) {
  margin-right: 50px;
}

.link-nav-contact {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--primary-text-color);

  align-items: center;
  justify-content: center;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-icon {
  fill: currentColor;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.smartphone-icon {
  fill: currentColor;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.link-nav-contact:hover,
.link-nav-contact:focus {
  color: var(--brand-color-accent);
}

/* HERO section */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.paddington {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  /* padding-top: 200px; */
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fff;
}

.hero-button {
  padding: 11px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ADVATAGES section */
.adv-list {
  display: flex;
  flex-wrap: wrap;
}

.adv-list .item {
  width: 270px;
}

.adv-list .item:not(:last-child) {
  margin-right: 30px;
}

.adv-section-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.adv-section-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* .adv-item::before {
  display: block;
  content: '';
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
} */

.adv-icon-box {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.adv-icon {
  width: 70px;
  height: 70px;
}

/* .icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */

/* WHAT WE DOING section */
.wwd {
  padding-bottom: 94px;
}

/**заголовки однакові з TEAM section */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.wwd-list {
  display: flex;
}

/* .wwd-list .item {
  margin-right: 30px;
} */

.wwd-list .item:not(:last-child) {
  margin-right: 30px;
}

.wwd-item-thumb {
  position: relative;
}

.wwd-text {
  position: absolute; 
  display: flex;

  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-bg-color);
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  left: 0;
}

/* TEAM section */
.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials-team {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.link-socials-team {
  fill: #afb1b8;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-socials-team:hover,
.link-socials-team:focus {
  background-color: var(--brand-color-accent);
  fill: #fff;
}

.section-title-team {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/* CLIENTS */
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--brand-color-accent);
  color: var(--brand-color-accent);
}

.clients-icon {
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover {
  fill: var(--brand-color-accent);
}

/* FOOTER */
.site-footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--brand-color-footer);
  text-decoration: none;
}

.logo-first-phrase-footer {
  color: var(--brand-color-accent);
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-address {
  display: flex;
  flex-wrap: wrap;
  width: 231px;
  gap: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-foot {
  display: flex;
  flex-wrap: wrap;
  width: 231px;
}

.link-footer-map {
  color: #ffffff;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-contact {
  color: #ffffff99;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-map:hover,
.link-footer-map:focus,
.link-footer-contact:hover,
.link-footer-contact:focus {
  color: var(--brand-color-accent);
}

/* .socials-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  margin-left: 70px;
  padding-bottom: 100px;
} */

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 145px;
}

.socials-wrapper {
  display: block;
  margin-left: 156px;
}

.title-socials {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.socials {
  display: flex;
  gap: 10px;
}

.link-socials {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-socials {
  fill: var(--brand-color-footer);
}

.link-socials:hover,
.link-socials:focus {
  background-color: var(--brand-color-accent);
}

/* .item-socials {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
} */

/* .icon-insta {
  background-image: url(../images/instagram-foot.svg);
}

.icon-twitter {
  background-image: url(../images/twitter-foot.svg);
}

.icon-facebook {
  background-image: url(../images/facebook-foot.svg);
}

.icon-linkedin {
  background-image: url(../images/linkedin-foot.svg);
}

.icon-insta:hover, .icon-twitter:hover, .icon-facebook:hover, .icon-linkedin:hover, .icon-insta:focus, .icon-twitter:focus, .icon-facebook:focus, .icon-linkedin:focus {
  background-color: var(--brand-color-accent);
} */

/* *PORTFOLIO page */
/* PROJECTS section */
.button-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-flex .item + .item {
  margin-left: 8px;
}

.project-button {
  padding: 6px 22px;

  background: var(--secondary-bg-color);
  border-radius: 4px;
  border: 0;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-button:hover,
.project-button:focus {
  background: var(--brand-color-accent);
  color: var(--brand-color-footer);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-wrapper {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.card-portfolio {
  /* width: 370px; */
  flex-basis: calc((100% - 30px * 2) / 3);
  background: var(--primary-bg-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio:hover,
.card-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.link-portfolio {
  text-decoration: none;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color)
}

.overlay-text-wrapper {
  position: absolute;
  display: flex;
  background: rgba(33, 150, 243, 0.9);

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
}

.card-portfolio:hover .overlay-text-wrapper {
  transform: translateY(0);
}

.link-portfolio:focus .overlay-text-wrapper {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;

  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

}

.icon-close-btn {
  display: block;

}